.textblock {
  border-color: #fff;
  margin-top: 2%;
  border-radius: 0;
}

.myimg{
  align-self: center;
}

.headline {
  font-family: "Oswald";
  margin:2%;
}

.text {
  margin: 5%;
  font-family: "Oswald"
}
