<div class="col-sm navbar" style="margin-left:0">
  <div class="col-8 text-left title">
    <a style="color: inherit;" href="#">
      <img src="assets/tree.png" width=30px />
      {{ title }}
    </a>
  </div>
  <div class="col-xs-4 text-right about">
    <a style="color: inherit;" href="https://github.com/jasoSwan/ "target="_blank">Portfolio</a>
    |
    <a style="color: inherit;" href="#">About Me</a>
    |
    <a style="color: inherit;" href="https://www.linkedin.com/in/jason-swanepoel-805911128/" target="_blank"> Contact</a>
  </div>
</div>
