.title{
  font-size: 28px;
}

.about {
  font-size: 19px;
}

.feed {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar{
  background-color: #fdfdfd;
  border-radius: 0;
  border-bottom: thick;
  border-color: #000000;
}
