@import '~bootstrap/dist/css/bootstrap.min.css';


html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0 0 100px;
  font-family: 'Megrim';
  color: #111;
  background-image: url("assets/alps.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.bg {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #dfdfdf;
}

.link
{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  color: inherit;
  text-align: left;
}

.no-gutter
{
  padding: 0;
}
