@import '~bootstrap/dist/css/bootstrap.min.css';


html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0 0 100px;
  font-family: 'Megrim';
  color: #111;
  background-image: url("assets/alps.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.bg {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #dfdfdf;
}

.link
{
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  color: inherit;
  text-align: left;
}

.no-gutter
{
  padding: 0;
}

.underline--magical {
  background-image: linear-gradient(120deg, #5830ff 0%, #cb34ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

  &:hover {
    background-size: 100% 93%;

    a{
      color:antiquewhite;
    }
  }

}
